
@media screen and (max-width:1902px){
    #header {display: none; position: fixed; top: 0; left: 0; background: #F2F4FA; z-index: 999; box-shadow: 0 0 10px rgba(1,1,1,0.1);}
    #header.on {display: block;}
    .tb_blank.on {display: block; position: fixed; width: 100%; height: 100%; z-index: 500;}
    #wrap {padding: 12px 24px;}
    .search_wrap {display: flex; align-items: center;}
    .tb_menu_btn {display: block; cursor: pointer; margin-right: 30px;}
    .tb_menu_btn span {display: block; width: 26px; height: 2px; background: #000; margin: 8px 0;}
}

@media screen and (max-width: 1627px) {
  .mab_top_bar {
      flex-direction: column;
      align-items: flex-start;
  }

  .mab_bar_left {
      margin-bottom: 15px;
  }

  .mab_bar_left:after {
      display: none;
  }

  .mab_bar_right {
      flex-wrap: wrap;
      width: calc(100%);
  }

  .mab_top_bar .mab_bar_right > .input_file_wrap {
    margin-right: 0;
    width: calc(50% - 3px);
    flex-wrap: nowrap;
  }

  .mab_top_bar .mab_bar_right > .input_file_wrap .input_wrap {
      width: calc(100% - 95px);
  }

  .mab_top_bar .mab_bar_right > .input_file_wrap .input_wrap .file_text {
    width: 100%;
  }

  .mab_top_bar .mab_bar_right > .input_file_wrap .flie_btn_box {
    min-width: 90px;
  }

  .mab_top_bar .mab_bar_right > .input_file_wrap:first-child {
      margin-right: 6px;
  }

  .mab_bar_right .select_right_box {
      padding-top: 20px;
  }

  .mab_bar_right .select_right_box .new_data_box {
      width: 100%;
  }

  .select_right_box .new_data_box:first-child {
    padding-left: 0;
  }

  .select_right_box .new_data_box:first-child:after {
      display: none;
  }
  
  
  
  
  
  
  .select_right_box .new_data_box > select {
  	padding: 0 5px;
  	font-size: 12px;
  }
  
  .mab_bar_right .select_right_box .new_data_box {
  	width: 90px;
  }
  
  .input_file_wrap {
  	margin-right: 10px;
  }
  
  
      /* 21-12-15 추가 - css */
    .data_table_title_wrap {
        margin-bottom: 5px;
    }
    
    .mab_top_bar {
        padding-bottom: 60px;
    }
    
    .mab_bar_left {
        flex-direction: row;
    }

    .mab_bar > .input_file_wrap > .file_ex {
        font-size: 12px;
    }




	#main .mab_top_bar .add_give_info {bottom:13px; top: auto; left: -1px; font-size: 14px; color: #707070; font-weight: bold;}
	
	#main .mab_top_bar .add_give_info {
        font-size: 12px;
        background-position: left 5px top 4px;
        background-size: 13px;
    }	
    
    
    
    .memo_wrap #memo #outcome_comment {
	    width: 230px;
	}


}



@media screen and (max-width: 1236px) {
    #wrap {padding: 12px 0px 0px;}

    /* main - header */
    #main {padding: 0 0px 30px; overflow-y: auto;}
    #main .user_header {background-color: #f2f4fa; padding: 50px 30px 30px; flex-direction: column-reverse; align-items: stretch; margin: 0 0 16px;}
    
    /* search */
    #main .user_header .search_wrap {width: 100%; position: relative; display: flex; justify-content: right; top: 10px;}
    #main .user_header .ui_list_wrap { position: relative; top: 10px;}
   #main .user_header .ui_list_wrap > .ui_list {position: absolute; top: calc(50% + 2px);}
    #main .user_header .search_wrap > .tb_menu_btn {margin-right: 0px; margin-top: 2px; position: absolute; right: 0; top: 50%; transform: translateY(calc(-50% - 5px));}

    .tb_menu_btn span {display: block; width: 17px; height: 2px; margin: 5px 0;}
    #main .user_header .search_wrap > label {position: absolute; right: 34px; top: 0px;}

    /* search icon */
    #main .user_header .search_wrap > label:before {top: 50%; transform: translateY(-50%); right: 25px; width: 20px; height: 20px;}

    #main .user_header .search_wrap > label .search[type="text"] {border: 1px solid #E4E4E4; height: 30px; width: 0px; padding-left: 0px; opacity: 0;}

    #main .user_header .ui_list_wrap > .ui_list:nth-child(1) {height: 22px; left: 35px; bottom: -30px;}
    #main .user_header .ui_list_wrap > .ui_list:nth-child(2) {bottom: -30px;}
    #main .user_header .ui_list_wrap > .ui_list:nth-child(3) {width: 18px; height: 22px; right: 20px; bottom: -27px;}
    #main .user_header .ui_list_wrap > .ui_list:nth-child(4) {display: none;}



    .data_table_section {margin: 90px 20px 0px; border: 1px solid #E6EBEE; border-radius: 4px; -webkit-border-radius: 4px; padding: 16px; position: relative;}
    

    .mab_top_bar {align-items: flex-start; justify-content: left; padding-bottom: 0px;  margin-bottom: 50px; flex-direction: column; border: none;}
    .mab_top_bar .give_info {bottom: -30px; left: 5px; font-size: 14px; color: #707070; font-weight: bold;}

    .mab_bar_left,
    .mab_bar_right {width: 100%; align-items: flex-start;}
    .mab_bar_left {margin-bottom: 0px; flex-direction: column; margin-right: 0; padding-right: 0;}
    .mab_bar_left:after {display: none;}

    .mab_bar > .input_file_wrap {padding-top: 15px; width: 100%;}

    .mab_bar_left .select_box {margin-bottom: 15px; width: 100%;}
    .mab_bar_left .select_box > .type_select {width: calc(45% - 10px); padding: 0 10px; font-size: 14px;}
    .mab_bar_left .select_box > .type_select_info {width: 55%; padding: 0 10px; font-size: 14px;}

    .mab_bar_left .input_file_wrap .file_text {width: 400px;}

    .mab_bar_right .input_file_wrap {flex-direction: column;}
    .mab_bar_right .input_file_wrap .file_text {width: 100%; margin-bottom: 10px;}
    .mab_bar > .input_file_wrap > .file_ex {top: -8px; left: 2px; font-size: 14px;}

    .input_file_wrap .flie_btn_box {display: flex;}

    /* 버튼 공통 */
    .mab_bar_right .flie_btn_box button {margin-left: 5px; width: 33.333%; font-size: 12px;}

    .mab_bar_right .flie_btn_box .file_add {width: 33.333%; text-align: center; font-size: 12px; margin-left: 0;}
    .mab_bar_right .flie_btn_box button.save { padding: 0 10px;}

    /* 내려받기 버튼 - 회색 */
    .mab_bar_right .flie_btn_box button.dawnload {padding: 0 10px; letter-spacing: -0.05em;}

    /* .mab_top_bar button.view {position: absolute; right: auto; left: -17px; bottom: auto; top: -120px; width: 168px; height: 48px; font-size: 14px; border-radius: 4px;} */
    .mab_top_bar div.view {width: 168px; height: 48px; font-size: 14px; font-weight: bold; text-align: center; display: flex; position: relative;}
    .mab_top_bar div.view div{background: #397FF4;color: #fff; border: none; margin: 10px 6px 0 0;}


    .mab_chr_wrap {display: flex; flex-direction: column; justify-content: center; align-items: center; width: 100%;}
    .mab_chr_wrap_left {margin-right: 0; width: 100%; border: none; padding: 0; border-radius: 0; height: 680px;}
    .data_table_section:after {content: ''; position: absolute; top: calc(50% + 125px); transform: translateY(-50%); left: 0; right: 0; height: 10px; width: 100%; background-color: #E6EBEE; z-index: 999;}
    .mab_chr_wrap_right {border: none; width: 100%;}


    .mab_chr_wrap_left .btn_all_box {margin-bottom: 20px; padding-right: 5px;}

    /* btn - wrap */
    .chr_btn_wrap {display: flex; align-items: center; justify-content: space-between; width: 100%;}
    .chr_select_wrap {display: flex; align-items: center; justify-content: flex-end; margin-top: 12px; position: relative;}
    .chr_btn_wrap p {font-size: 16px;}
    .commonBtn {width: 75px; height: 40px; font-size: 14px; line-height: 40px; text-align: center; border: 1px solid #000; background: #fff; color: #4E4E4E; border-radius: 4px; cursor: pointer; font-weight: bold; margin: 0 0px 0 6px;  position: relative; z-index: 1;}
    .commonBtn.active {width: 75px; background: #4E4E4E; color: #fff; border: none;}
    .chr_select_wrap p {width: 20%; height: 40px; font-size: 14px; line-height: 38px; 
        margin-right: 10px; text-align: center; }
    .chr_select_wrap select {width: 140px; height: 40px; border: 1px solid #E6EBEE; border-radius: 4px; font-weight: bold;
        background: #fff url('../../images/select_arrow.png') no-repeat center right 12px/8px; padding: 0 16px;}
    .chr_select_wrap .commonBtn {width: 200px; border: none; margin: 0 0 0 10px; background: #fff; color: #4E4E4E; border: 1px solid #4E4E4E;}

    .chr_select_wrap .commonBtn.allchr {position: absolute; left: 0; bottom: -50px; width: 100%; margin-left: 0;}
    .chr_select_wrap .commonBtn.active {width: 100%; border: none; margin: 0 0 0 0px; background: #4E4E4E; color: #fff; border: 1px solid #4E4E4E;}


    .table_page_wrap {position: relative; top: -1140px;}

    .visualWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .tableWrap {position: relative; user-select:none; width: 100%; height: 480px; overflow: auto; margin: 0px; left: 0px; top: -20px;}

    .graphContainer{
        /* width: calc(100% - 40px); */
        width: 100%;
        height: 480px;
        position: relative;
        top: 120px;
        left: 0px;
    }
    
    .graphWrap {margin: 0; padding: 30px 0 20px;}


    /* 모달 */
    .modal{
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0; left: 0;
    }
    .modalBg{
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.2);
    }
    .modalContent{
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 90%;
        background: #EEF2F5;
        border-radius: 4px;
        padding: 20px 16px 40px;
    }
    .modal_title {display: flex; align-items: center; justify-content: space-between; margin-bottom: 20px;}
    .modal_title p {font-size: 20px; color: #397FF4; font-weight: bold;}
    .modal_title button {width: 100px; height: 40px; font-size: 15px; color: #4E4E4E; font-weight: bold;
        border: 1px solid #000; border-radius: 4px; background: #fff;}
    .mabcModalSelect {width: 165px; height: 40px; border: 1px solid #E6EBEE; border-radius: 4px; font-weight: bold;
        background: #fff url('../../images/select_arrow.png') no-repeat center right 12px/8px; padding: 0 16px;}
    .modalGraph_Container{
        width: 100%;
        height: 80%;
        background: #fff;
        border-radius: 8px;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 20px 20px 20px;
        margin-top: 15px;
    }
    .modalGraph_control {display: block; width: 40px;}
    .modalGraph_control button {display: block; width: 24px; height: 24px; background: #fff; border: 1px solid #E6EBEE;
        border-radius: 6px; font-size: 20px; font-weight: bold; color: #397FF4; line-height: 20px; margin-bottom: 3px;}
    .modalGraph_control button:nth-child(2):after {content: ''; display: block; width: 14px; height: 1px; background: #D9D9D9; margin: 16px auto 0;}
    .modalGraph_control input {display: block; transform: rotate(90deg) translate(163px, 75px);}
    
    .modal_close {
        display: block;
        position: absolute;
        top: 15px;
        right: 15px;
        width: 24px;
        height: 24px;
        text-indent: -9999999px;
        background: url(../../images/close_m.png) no-repeat;
        background-size: 100%;
    }

    .modalGraph_Wrap{
        width: 90%;
        height: 100%;
        overflow: auto;
        padding-bottom: 30px;
        position: relative;
    }
    .modalGraph_scale{
        padding: 20px;
        width: 100%;
        height: 100%;
        display: flex;
        transform-origin: 0 0;
        transform: scale(1);
    }
    .modalGraphElWrap{
        position: relative;
    }
    .modalGraphName{
        transform: translateY(-10px);
        display: inline-block;
    }
    .modalStackDesc{
        position: absolute;
        font-size: 10px;
        left: 50px;
    }
    .modalGraphEl{
        min-width: 16px;
        /* height: 527px; */
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
    }
    .modalGraphSection{
        position: relative;
    }
    .modalGraphElStack{
        width: 100%;
    }
    .modalStackDescLine{
        position: absolute;
        width: 10px;
        height: 1px;
        border-top: 1px solid #000;
        left: 20px;
        transform-origin: 0;
    }
    .modalZoomBtn{
        width: 50px;
        height: 50px;
        position: relative;
        top: 60px;
    }
    .modalSlider {
        -webkit-appearance: none;
        width: 174px;
        height: 10px;
        border-radius: 5px;  
        background: #fff;
        border: 1px solid #E6EBEE;
        outline: none;
    }
    
    .modalSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 19px;
        height: 19px;
        border-radius: 50%; 
        background: #fff;
        border: 3px solid #397FF4;;
        cursor: pointer;
    }
    .activeClickAni{
        animation: opacityAni 1500ms infinite linear;
    }
    @keyframes opacityAni {
        0%{opacity: 0;}
        50%{opacity: 1;}
        100%{opacity: 0;}
    }







    .mab_top_bar {
        flex-direction: column;
        align-items: flex-start;
    }
  
    .mab_bar_left {
        margin-bottom: 0px;
    }

    .mab_bar_left .select_box {
        margin-bottom: 0;
    }

    .mab_bar_left .select_box .select_wrap {
        width: calc(50% - 10px);
    }

    .mab_bar_left .select_box .select_wrap > select {
        width: 100%;
        font-size: 12px;
    }
  
    .mab_bar_left:after {
        display: none;
    }
  
    .mab_bar_right {
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
    }
  
    .mab_top_bar .mab_bar_right > .input_file_wrap {
      margin-right: 0;
      width: 100%;
      flex-direction: row;
      align-items: center;
    }
  
    .mab_top_bar .mab_bar_right > .input_file_wrap .input_wrap {
        width: calc(100% - 85px);
    }
  
    .mab_top_bar .mab_bar_right > .input_file_wrap .input_wrap .file_text {
        width: 100%;
    }
  
    .mab_top_bar .mab_bar_right > .input_file_wrap .flie_btn_box {
        padding-top: 11px;
        min-width: 80px;
        margin-left: 5px;
    }

    .mab_top_bar .mab_bar_right > .input_file_wrap .flie_btn_box > label {
        width: 100%;
        padding: 0 10px;
    }
  
    .mab_top_bar .mab_bar_right > .input_file_wrap:first-child {
        margin-right: 0px;
    }
  
    .mab_bar_right .select_right_box {
        width: 100%;
        padding-top: 20px;
    }
  
    .mab_bar_right .select_right_box .new_data_box {
        width: 100%;
    }
  
    .select_right_box .new_data_box:first-child {
      padding-left: 0;
    }
  
    .select_right_box .new_data_box:first-child:after {
        display: none;
    }


    .mab_top_bar button.view {
        position: absolute;
        top: -430px;
        left: -15px;
        border-radius: 4px;
        font-size: 12px;
        width: 120px;
        height: 40px;
    }

    .modal {
    }


    .modalContent {
        left: calc(50% - 30px);
        top: calc(50% - 30px);
        height: auto;
        min-width: 290px;
        max-width: 360px;
        width: 100%;
        margin: 30px;
    }
    
    .modal_add_box {
        border-radius: 15px;
        background-color: #fff;
        width: 100%;
        padding: 30px;
    }
    
    .add_alot_file {
        width: 100%;
        height: 300px;
        border: 2px dashed #397ef479;
        border-radius: 10px;
        position: relative;
    }
    
    .modal_title p  {
        font-size: 16px;
    }

    .add_alot_file .add_ex {
        position: absolute;
        left: 50%;
        top: calc(50% - 10px);
        display: block;
        transform: translate(-50%, -50%);
        width: calc(50% + 50px);
        line-height: 20px;
        background: url('/images/add_fille.png') no-repeat left 10px center;
        padding-left: 40px;
        font-weight: 700;
        font-size: 14px;
        color: rgba(102, 102, 102, 0.5);
        opacity: 0.5;
    }
    


    .win_close {right: 20px; top: 20px; width: 24px; height: 24px;  background: url(../../images/close_m.png) no-repeat;} 

    .canel_save_btn {text-align: right; padding-top: 40px;}
    .canel_save_btn .canel,
    .canel_save_btn .save {width: 71px; height: 32px; font-size: 12px;}
    .canel_save_btn .canel {background-color: #fff; border: 1px #5796FF solid; color: #5796FF; font-weight: 700;}
    .canel_save_btn .save {background-color: #397FF4; color: #fff;}

    .canel_save_btn .canel:active:focus {background-color: #f3f6fc;}
    .canel_save_btn .save:active:focus {background-color: #1D50AF;}
    
    
    
    
    
    
    #insertForm {
	    flex-direction: column;
	    width: 100%;
	}
	
	#insertForm .input_file_wrap {
		flex-direction: row;
	    flex-wrap: nowrap;
	    align-items: center;
	    width: 100%;
	}
	
	.input_file_wrap .input_wrap {
	    width: calc(100% - 5px);
	    margin-right: 5px;
	}
	
	.input_file_wrap .flie_btn_box {
	    padding-top: 12px;
	}
	
	
	.mab_bar_right button.save {
		position: absolute;
	    top: -102px;
	    left: 107px;
	}
	
	.mab_top_bar button.view {
	    top: -385px;
	}
	
	
	
	
	  /* 21-12-15 추가 - css */
    .select_box {
        display: flex;
        align-items: center;
        width: 100%;
    }
    
    .select_box .select_wrap {
        width: calc(50% - 2.5px);
    }
    
    .select_box .select_wrap .data_name {
        padding-left: 3px;
        margin-bottom: 5px;
        font-size: 12px;
    }
    
    .select_box .select_wrap:last-child .data_name {
        padding-left: 6px;
    }
    
    .select_box .select_wrap select {
        width: 100%;
    }

    #main .data_header .chartInput {
        margin-right: 0;
        font-size: 12px;
        width: 160px;
    }

    .mab_bar_right .flie_btn_box > .file_add,
    .mab_bar_right .flie_btn_box > .save {
        width: calc(50% - 2.5px);
    }


    #main .view {
        position: absolute;
        left: -15px;
        top: -105px;
        width: 75px;
    }
    
    
    #main .view .commonBtn {
        margin: 0;
    }
    
    .data_table_title_wrap a {
        position: absolute;
        left: 75px;
        top: -50px;
    }

    .mab_bar > .input_file_wrap > .file_ex,
    .data_table_title_wrap a,
    #main .commonBtn {
        font-size: 12px;
    }

    .middleTitle {
        font-size: 16px;
    }

    #main .data_table_section .data_table_title {
        margin-bottom: 10px;
    }


    .chr_select_wrap {
        justify-content: left;
        flex-wrap: wrap;
    }

    .chr_select_wrap select {
        width: 100%;
    }

    .chr_select_wrap .commonBtn.allchr {
        position: static;
        left: auto;
        bottom: auto;
        width: auto;
        margin-left: 5px;
        margin-right: 5px;
    }

    .chr_select_wrap p {
        width: auto;
        font-size: 12px;
    }

    .middleTitle {
        margin-bottom: 0;
    }

    .mab_top_bar .give_info {
        font-size: 12px;
        background-position: left 5px top 4px;
    }

    #main .view_box {
        padding-top: 10px;
        position: static;
        width: 100%;
    }

    #main .view_box div.commonBtn {
        width: calc(33.3333% - 1.6px);
        margin-right: 5px;
    }

    #main .view_box > div.commonBtn:nth-child(3) {
        margin-right: 0px;
    }
    

    .data_table_title_wrap .re_down_btn {
        left: 0;
        margin-left: 0;
    }
    
    
    
    .mab_top_bar .mab_bar_right > .input_file_wrap .flie_btn_box {
    	padding-top: 0; 
    }
    
    .mab_top_bar .mab_bar_right > .input_file_wrap:first-child {
    	align-items: stretch;
    }
    
    .mab_bar_right .flie_btn_box > .save {
	    position: absolute;
	    top: -183px;
	    left: 85px;
	    width: 110px;
	}
	
	#main .view.map_view {
	    position: absolute;
	    left: -0px;
	    top: 2px;
	    width: 122px;
	}

	#main .view.map_view .view {
		width: 100%;
	}
	
	
	
	
	
	 /* 21-12-21 수정 */
	#main .mab_top_bar {
	padding-bottom: 30px;
		margin-bottom: 40px;	
	}
	
	.data_table_title_wrap {
		margin-bottom: 20px;
	}
	
	#main section .data_table_title {
		font-size: 16px;
	}
		
	#main .mab_top_bar select,
	#main .mab_top_bar input,
	#main .mab_top_bar span,
	#main .mab_top_bar a {
		font-size: 12px;
	} 
	
	.input_file_wrap {
		margin-right: 0;
	}
	    
	    
	.mab_bar_left .select_box .select_wrap {
		width: calc(50% - 5px);
	}
	
	.mab_bar_left .select_box .select_wrap:last-child {
		margin-left: 10px;
	}
	
	.mab_bar_left .select_box .select_wrap select {
		margin-left: 0;
	}
	
	
	#main .view {
		width: 80px;	
		top: -118px;
	}
	
	.mab_top_bar div.view div.commonBtn {
		width: 80px;
	}
	
	.mab_bar_right button.save {
		top: -118px;
    	left: 65px;
	}
	
	
	
	
	
	.add_save_btn {
		position: absolute;
	    left: 140px;
	    top: -118px;
	    font-size: 12px;
	    width: 80px;
	    font-weight: 700;
	}
	
	
	.select_right_box .new_data_box > select {
		padding-left:10px;
	}
	
	
	
	
	#main .user_header .ui_list_wrap > .ui_list:nth-child(3) {
	   width: 22px;
	   height: 17px;
	   margin-left: 0px;
	   margin-right: 10px;
	}
	
	#main .user_header .ui_list_wrap {
	    top: 7px;
	}
	
	
	#main .mab_top_bar div.view,
	.mab_top_bar div.view .commonBtn {
		width: 150px;
	}
	    
    
    #main .mab_top_bar .add_give_info {bottom:5px; top: auto; left: -1px; font-size: 14px; color: #707070; font-weight: bold;}
	
	#main .mab_top_bar .add_give_info {
        font-size: 12px;
        background-position: left 5px top 4px;
        background-size: 13px;
    }	
    
    
    
    
    #insertForm .memo_wrap {
		width: 100%;
		display: flex;
		align-items: end;
		margin-top: 20px;
	}
	
	#insertForm .memo_wrap #memo {
		width: calc(100% - 105px);
		margin-top: -10px;
		margin-left: 0px;
		margin-right: 5px;
	}
	
	.memo_wrap #memo .memo_text {
		font-size: 14px;
	    font-weight: 700;
	    padding-left: 3px;
	    margin-bottom: 5px;
	}
	
	.memo_wrap #memo #outcome_comment {
	    height: 40px;
	    border: 1px solid #E6EBEE;
	    border-radius: 4px;
	    background: #fff;
	    overflow-x: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	    padding: 5px;
	    font-size: 13px;
	    text-align: left;
	    width: 100%;
	}
	
	#insertForm .memo_wrap .save.cont_btn {
	    position: static;
		width: 100px;
		margin: 0;
	}
    
    
}