<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.ih.api.service.mapper.SnpMapper">
	<!--  -->
	<select id="SelectOutcomeCount" parameterType="String" resultType="int">
		SELECT COUNT(*) FROM outcome o
		LEFT JOIN marker m ON o.marker_id = m.marker_id
		WHERE o.outcome_type = 8 AND o.outcome_status != 0
		<choose>
			<when test="user_username != 'admin'">
				AND user_username = #{user_username}
			</when>
		</choose>
	</select>
	
	<!--  -->
	<select id="SelectOutcomeList" resultType="kr.or.ih.api.entity.Outcome">
		SELECT * FROM outcome o
		LEFT JOIN marker m ON o.marker_id = m.marker_id
		WHERE o.outcome_type = 8 AND o.outcome_status != 0
		<choose>
			<when test="user_username != 'admin'">
				AND user_username = #{user_username}
			</when>
		</choose>
		ORDER BY o.create_date DESC
		LIMIT #{offset}, #{limit}
	</select>

	<!--  -->
	<select id="SelectCrop" resultType="kr.or.ih.api.entity.Crop">
		SELECT * FROM crop
	</select>
	
	<!--  -->
	<select id="SelectMarkerFileName" parameterType="int" resultType="String">
		SELECT marker_file FROM marker_file
		WHERE marker_id = #{marker_id} AND marker_file_type = 0
	</select>
	
	<select id="SelectOutcome" parameterType="int" resultType="kr.or.ih.api.entity.Outcome">
		SELECT * FROM outcome o
		LEFT JOIN marker m ON o.marker_id = m.marker_id
		WHERE o.outcome_id = #{outcome_id}
	</select>
</mapper>