<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="kr.or.ih.cms.service.mapper.MemberMapper">
	<!-- 1:1 문의 내역 -->
	<select id="userList" resultType="egovMap">
		SELECT ROW_NUMBER() OVER (ORDER BY U.USER_NM DESC) AS ROWNUM 
			, (CASE 
					WHEN A.SNS_TYPE = 'pass'  THEN '입주민 회원'
					ELSE '간편가입'
				END) AS GUBUN	
			, U.USER_ID
			, U.USER_NM
			, U.TEL_NUMBER
			, U.ADDR
			, U.EMAIL
			, U.UPD_DT
			, U.STATE
		FROM TB_USER U INNER JOIN TB_USER_AUTH A
		ON U.USER_ID = A.USER_ID
	</select>
</mapper>